name: CI Advanced - Retrain + Artifact + Docker

on:
  push:
    branches: ["main"]
    paths:
      - "MLProject/**"
      - ".github/workflows/ci_advanced.yml"
  workflow_dispatch:

jobs:
  advanced:
    runs-on: ubuntu-latest
    env:
      MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.14.1 pandas scikit-learn numpy

      - name: Debug - list files
        run: |
          ls -la
          ls -la MLProject || true
          ls -la MLProject/heart_preprocessed || true
          find MLProject -maxdepth 3 -type f -name "*.csv" | sort

      - name: Run training
        run: |
          python MLProject/modelling.py --data-dir MLProject/heart_preprocessed --experiment-name HeartDisease_CI --run-name ci-retrain

      - name: Upload MLflow runs
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: mlruns
          if-no-files-found: error

      - name: Get run_id from file
        id: get_run
        run: |
          RUN_ID=$(cat ci_outputs/run_id.txt)
          echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT
          echo "RUN_ID=$RUN_ID"

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Debug - check model_py310 env files
        env:
          RUN_ID: ${{ steps.get_run.outputs.run_id }}
        run: |
          echo "RUN_ID=$RUN_ID"
          find mlruns -maxdepth 6 -type f -path "*$RUN_ID*/artifacts/model_py310/*" | sort
          echo "=== conda.yaml ==="
          cat mlruns/*/$RUN_ID/artifacts/model_py310/conda.yaml || true
          echo "=== MLmodel ==="
          cat mlruns/*/$RUN_ID/artifacts/model_py310/MLmodel || true

      - name: Push Docker image
        env:
          IMAGE_BASE: ${{ secrets.DOCKERHUB_USERNAME }}/heart-ci
        run: |
          docker push "$IMAGE_BASE:latest"
