name: CI Retrain (MLflow Project)

on:
  push:
    branches: [ "main" ]
    paths:
      - "MLProject/**"
      - ".github/workflows/ci.yml"
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.14.1

      - name: Run MLflow Project
        run: |
          mlflow run MLProject
