name: CI Advanced - Retrain + Artifact + Docker

on:
  push:
    branches: ["main"]
    paths:
      - "MLProject/**"
      - ".github/workflows/ci_advanced.yml"
  workflow_dispatch:
jobs:
  advanced:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.14.1 pandas scikit-learn numpy joblib

      - name: Debug project structure
        run: |
          pwd
          ls -la
          ls -la MLProject
          ls -la MLProject/heart_preprocessed

      # 1️⃣ Training
      - name: Run training
        run: |
          python MLProject/modelling.py \
            --data-dir MLProject/heart_preprocessed \
            --experiment-name HeartDisease_CI \
            --run-name ci-retrain

      # 2️⃣ Ambil run_id
      - name: Collect CI outputs (run_id)
        run: |
          RUN_ID_FILE=$(find . -name run_id.txt | head -n 1)
          if [ -z "$RUN_ID_FILE" ]; then
            echo "run_id.txt tidak ditemukan!"
            find . -maxdepth 4 -type f
            exit 1
          fi

          mkdir -p ci_artifacts
          cp "$RUN_ID_FILE" ci_artifacts/run_id.txt
          cat ci_artifacts/run_id.txt

      # 3️⃣ Upload MLflow tracking
      - name: Upload MLflow runs
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: mlruns

      # 4️⃣ Login Docker Hub
      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 5️⃣ Build & Push Docker image
      - name: Build Docker Image with MLflow & Push
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns
          MLFLOW_DOCKER_PYTHON_VERSION: "3.11"
        run: |
          RUN_ID=$(cat ci_artifacts/run_id.txt)
          IMAGE_NAME="${DOCKERHUB_USERNAME}/heartdisease-mlflow:latest"
          mlflow models build-docker -m "runs:/$RUN_ID/model" -n "$IMAGE_NAME"
          docker push "$IMAGE_NAME"
